@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
  --primary-theme-color: #FF8200;
  --secondary-theme-color: #ff9a00;

  --bulma-primary: #FF8200;
  --bulma-primary-h: 31;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 50%;
}

body {
  text-align: center;
}

/* Navbar */
.navbar {
  border-bottom: 2px solid var(--secondary-theme-color);
  
  --bulma-navbar-burger-color: var(--bulma-primary);
}

.navbar-menu {
  padding: 0 !important;
}

.nav-title {
  font-weight: 800;
  font-size: x-large;
  background-image: linear-gradient(to right,#FF8200, #ff9a00, #ffc400);
  color: transparent;
  background-clip: text;
}

.navbar-item {
  font-weight: 800;
}

a.navbar-item.is-active, a.navbar-item:hover {
  color: white !important;
  background-color: rgba(255, 132, 0, 0.75);
}

a.navbar-item:hover .nav-title {
  background-image: none;
  color: white;
}
/* Navbar End */

/* Card start*/
.card {
  overflow: hidden;
  background: ghostwhite;
}

.main-colored-text {
  font-weight: 800;
  background-image: linear-gradient(to right, #ff0000, #FF8200, #ff9a00, #ffce00, #ffe808);
  color: transparent;
  background-clip: text;
}

.simulator-explain-section {
  padding-top: 1.5rem !important;
}
.simulator-colored-text {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

.fire-form-section {
  min-height: 400px;

  /* background-color: #ff84003b; */
  
  background-color: rgba(255, 132, 0, 0.2);
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  border:rgba(255, 132, 0, 0.4) solid 1px;
}

.settings-h1 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.settings-generic {
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  margin: 10px 10px 0 10px;
  border:rgba(0, 0, 0, 0.2) solid 1px;
}

.settings-deposits {
  min-height: 300px;
  background-color: rgba(96, 255, 106, 0.2);
  border-radius: 8px;
  margin: 5px 5px 5px 10px;
  border: rgba(96, 255, 106, 0.6) solid 1px;
  width: 48%;
}

.settings-withdrawals {
  min-height: 300px;
  background-color: rgba(105, 223, 255, 0.2);
  border-radius: 8px;
  margin: 5px 10px 5px 5px;
  border:rgba(105, 223, 255, 0.6) solid 1px;
  width: 48%;
}

.label {
  transform: translate(5px, 8.5px);
  width: fit-content;
  padding: 0 5px;
  position: relative;
  z-index: 10;
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 0 !important;
}

.select {
  width: 100%;
}

.control {
  width: inherit;
}

.field {
  margin-bottom: 0 !important;
  margin-top: -10px;
}

.field.small {
  min-width: 80px;
  max-width: 80px;
}

.field.medium {
  min-width: 125px;
  max-width: 125px;
}

.field.large {
  min-width: 150px;
  max-width: 150px;
}

.field.x-large {
  min-width: 180px;
  max-width: 180px;
}

.field.huge {
  min-width: 200px;
  max-width: 200px;
}
